.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 80px 160px;
}

.form form {
  flex: 1;
  padding: 36px 64px;
  background-color: #f7f7f7;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.form img {
  display: block;
  margin-top: 24px;
  width: 128px;
  height: 128px;
}
